@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
a {
  background-image: none;
  text-decoration: none;
  color:rgb(80, 80, 255);
  cursor:pointer;
}

/*developer.mozilla.org/es/docs/Web/CSS/position*/

* {
  outline:none;
  background-image: url("https://raw.githubusercontent.com/martinet101/SomePythonThings-Media/master/fons.jpg");
  color: #EEEEEE;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
  border-radius:3px;
  cursor: default;
}

button {
  cursor: pointer;
}

td {
 background-color: rgba(51, 51, 51, 0.84);
}

iframe {
  background-image: none;
  background-color: rgba(51, 51, 51, 0.6);
}

.menuTitle {
  border: solid black 1px;
  background-image: none;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  color: #EEEEEE;
  background-color: rgba(51, 51, 51, 0.6);
  padding: 5px;
  text-decoration: none;
}

.menu {
  background-image: none;
  clear: both;
  color: #EEEEEE;
  font-weight: bold;
  width: 150px;
  background-color: rgba(51, 51, 51, 0.0);
  padding: 0px;
}

.menuBar {
  width: 500px;
  font-weight: bold
}

.menuLink {
  color: black;
  font-weight: bold;
  background-image: none;
  text-decoration: none;
}

.menuTable {
  background-image: none;
  border: hidden rgba(51, 51, 51, 0.0);
}

.text {
  font-size: 18px;
  font-weight: normal;
  background-image: none;
  text-decoration: none
}

.apartat {
  font-size: 30px;
  font-weight: normal;
  background-image: none;
  text-decoration: none
}

.background {
  border: solid black 1px;
  width: 760px;
  background-image: none;
  background-color: rgba(51, 51, 51, 0.6);
  margin: auto;
  overflow-y: auto;
  padding: 20px
}

.list {
  background-image: none;
}

.title {
  font-size: 32px;
  font-weight: 550;
  background-image: none;
  background-color: rgba(51, 51, 51, 0.0);
  text-decoration: none
}

.subtitle {
  font-size: 27px;
  font-weight: 500;
  background-image: none;
  background-color: rgba(51, 51, 51, 0.0);
}

.headerbackground {
  position: -webkit-sticky;
  position: sticky;
  /*border: solid black 1px;*/
  z-index: 1;
  top: -15px;
  width: 760px;
  margin: auto;
  overflow-y: auto;
  padding: 5px
}
.headerbackground:stick

.headertop {
  color: #EEEEEE;
  position: -webkit-sticky;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.headerboth {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
}

.button {
  border: solid black 1px;
  background-image: none;
  background-color: rgba(51, 51, 51, 0.6);
  padding: 5px;
  font-size: 18px;
  width: 400px;
  text-align: left;
  transition: 0.3s;
  font-weight: normal
}

.button:hover:enabled {
  border: solid black 1px;
  background-image: none;
  background-color: rgba(51, 51, 51, 0.6);
  padding-left: 50px;
  font-size: 18px;
  width: 100%;
  text-align: left;
  font-weight: normal
}

.menuButton {
  background-image: none;
  border: solid black 1px;
  background-color: rgba(51, 51, 51, 0.6);
  padding:5px;
  font-size: 18px;
  width: 100%;
  text-align: left;
  height: 100%;
  transition: 0.3s;
  font-weight: bold
}

.menuButton:hover {
  background-image: none;
  border: 0px;
  background-color: rgba(51, 51, 51, 0.6);
  padding-left: 50px;
  font-size: 18px;
  width: 100%;
  text-align: left;
  height: 100%;
  transition: 0.3s;
  font-weight: bold
}

.form {
  background-image: none;
  background-color: rgba(51, 51, 51, 0.0)
}


.textbox {
  border: solid black 1px;
  background-image: none;
  width: 550px;
  padding: 5px;
  background-color: rgba(51, 51, 51, 0.25);
  color: WHITE;
  font-weight: normal;
  font-size: 18px;
  cursor: text;
}

.textbox::selection {
  background-image: none;
  background: rgba(51, 51, 51, 0.7);
  color:#EEEEEE;
}

.textbox::-moz-selection { /*firefox*/
  background-image: none;
  background: rgba(51, 51, 51, 0.7);
  color:#EEEEEE;
}

.textarea {
  background-image: none;
  width: 550px;
  padding: 5px;
  border: solid black 1px;
  background-color: rgba(51, 51, 51, 0.25);
  color:white;
  font-weight: normal;
  font-size: 18px;
  resize:none;
  cursor: text;
}

.textarea::selection {
  background-image: none;
  background: rgba(51, 51, 51, 0.7);
  color:#EEEEEE;
}

.textarea::-moz-selection { /*firefox*/
  background-image: none;
  background: rgba(51, 51, 51, 0.7);
  color:#EEEEEE;
}

.picture {
  background-image: none;
  height: 225px;
  border: 1px solid black;
  transition: 0.3s
}

.picture:hover {
  background-image: none;
  border: 1px solid black;
  height: 225px;
}

.smallpicture {
  background-image: none;
  border: 1px solid black;
  height: 64px;
  transition: 0.3s
}

.smallpicture:hover {
  border: 1px solid black;
  background-image: none;
  height: 64px;
}

.pictureGrid {
  border: 1px solid black;
  background-image: none;
  width: 242px;
  transition: 0.3s;
}

.pictureGrid:hover {
  border: 1px solid black;
  background-image: none;
  width: 242px;
  opacity: 0.5;
}

.downloadButton {
  background-image: none;
  border: solid black 1px;
  background-color: rgba(0, 255, 0, 0.6);
  padding: 5px;
  font-size: 18px;
  width: 400px;
  text-align: left;
  transition: 0.3s;
  font-weight: normal
}

.downloadButton:hover {
  background-image: none;
  border: solid black 1px;
  background-color: rgba(0, 255, 0, 0.6);
  padding: 5px;
  padding-left: 50px;
  font-size: 18px;
  width: 100%;
  text-align: left;
  font-weight: normal
}

.programEntryBackground {
  border: solid black 1px;
  cursor:pointer;
  width: 750px;
  height: auto;
  background-image: none;
  background-color: rgba(51, 51, 51, 0.6);
  margin: auto;
  overflow-y: auto;
  padding: 5px;
  transition: 0.3s
}

.programEntryBackground:hover {
  border: solid black 1px;
  width: 750px;
  background-image: none;
  background-color: rgba(51, 51, 51, 0.6);
  margin: auto;
  overflow-y: auto;
  transition: 0.3s;
}


.programNewsBackground {
  border: solid black 1px;
  width: 750px;
  height: auto;
  background-image: none;
  background-color: rgba(51, 51, 51, 0.6);
  margin: auto;
  overflow-y: auto;
  padding: 5px;
  transition: 0.3s
}

.programNewsBackground:hover {
  width: 750px;
  background-image: none;
  background-color: rgba(51, 51, 51, 0.6);
  margin: auto;
  overflow-y: auto;
  transition: 0.3s;
}

.menuPicture {
  border: 1px solid black;
  cursor:pointer;
  position: relative;
  background-image: none;
  width: 200px;
  transition: 0.3s
}

.menuPicture:hover {
  border: 1px solid black;
  opacity: 0.5;
  background-image: none;
  width: 200px;
}


.nopicture {
  background-image: none
}

.upButton {
  background-image: none;
  border: solid black 1px;
  background-color: rgba(51, 51, 51, 0.6);
  padding: 5px;
  font-size: 18px;
  width: 80px;
  text-align: left;
  transition: 0.3s;
  font-weight: normal;
  height: 40px;
  position: fixed;
  right: 0px;
  bottom: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.upButton:hover {
  background-image: none;
  border: solid black 1px;
  background-color: rgba(51, 51, 51, 0.6);
  padding: 5px;
  font-size: 18px;
  width: 80px;
  height: 100%;
  text-align: left;
  transition: 0.3s;
  font-weight: normal;
  position: fixed;
  right: 0px;
  bottom: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.textcheck {
  background-image: none;
  width: 180px;
  padding: 5px;
  border: 0px;
  background-color: rgba(51, 51, 51, 0.0);
  color: red;
  font-weight: bold;
  font-size: 18px;
}

.textcheck_long {
  background-image: none;
  width: 230px;
  padding: 5px;
  border: 0px;
  background-color: rgba(51, 51, 51, 0.0);
  color: red;
  font-weight: bold;
  font-size: 18px;
}

.checkbox {
  background-image:none;
  width: 15px;
  -webkit-appearance: auto; /* Navegador */
  -moz-appearance: auto; /* Firefox */
  height: 15px;
  border: 0.1mm solid #FFFFFF88;
}

::-moz-selection { /* Firefox */
  background: rgba(51, 51, 51, 0.0);
}

::selection {
  background: rgba(51, 51, 51, 0.0);
}

::-webkit-scrollbar {
  border: solid black 1px;
  background-image: none;
  width: 16px;
}

::-webkit-scrollbar-track {
  border: solid black 1px;
  background: #22222288; 
}
 
::-webkit-scrollbar-thumb {
  border: solid black 1px;
  background: #33333388;
  transition: 0.3; 
}

::-webkit-scrollbar-thumb:hover {
  border: solid black 1px;
  background: #44444488; 
}

body {
  overflow: overlay;
}

.blackButton {
  color: #FFFFFF;
  background-image: none;
  border: solid black 1px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  font-size: 18px;
  width: 400px;
  text-align: left;
  transition: 0.3s;
  font-weight: normal
}

.blackButton:hover {
  color: #FFFFFF;
  background-image: none;
  border: solid black 1px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 50px;
  font-size: 18px;
  width: 100%;
  text-align: left;
  font-weight: normal
}

.orangeButton {
  color: #000000;
  background-image: none;
  border: 0px;
  background-color: rgba(255, 102, 0, 0.6);
  padding: 5px;
  font-size: 18px;
  width: 400px;
  text-align: left;
  transition: 0.3s;
  font-weight: normal
}

.orangeButton:hover {
  color: #000000;
  background-image: none;
  border: 0px;
  background-color: rgba(255, 102, 0, 0.6);
  padding-left: 50px;
  font-size: 18px;
  width: 100%;
  text-align: left;
  font-weight: normal
}

.modeButton {
  border: solid black 1px;
  background-image: none;
  color: white;
  background-color: rgba(51, 51, 51, 0.75);
  padding: 5px;
  font-size: 18px;
  text-align: left;
  transition: 0.3s;
  font-weight: normal
}

.modeButton:hover {
  background-image: none;
  border: solid black 1px;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  padding-left: 5px;
  font-size: 18px;
  text-align: left;
  font-weight: normal
}

.settingsBackground {
  border: solid black 1px;
  width: 760px;
  background-image: none;
  background-color: rgba(51, 51, 51, 0.6);
  margin: auto;
  overflow-y: auto;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

:disabled {
  cursor: not-allowed;
}

button[disabled] {
  pointer-events: all;
}
.nopictureandpointer{
  background-image:none;
  cursor:pointer;
}

.newsPicture{
  border: 1px solid black;
  position: relative;
  background-image: none;
  width: 200;
  transition: 0.3s
}

.newsPicture:hover {
  border: 1px solid black;
  opacity: 1.0;
  background-image: none;
  width: 200;
}

.pointer{
  cursor:pointer;
}

.code {
  color: white;
  background-image:none;
  background-color: #333333;
  padding: 5px;
  border-width: 1px;
  border-color:#DDDDDD;
  font-family: "Consolas", "Monospace";
}


.code::-moz-selection { /* Firefox */
  background: rgba(255, 255, 255, 0.5);
}

.code::selection {
  background: rgba(255, 255, 255, 0.5);
}

.default{
  background-color: rgba(51, 51, 51);
}

.black{
  background-color:rgba(0, 0, 0);
}

.blue{
  background-color:rgb(0, 18, 100);
}

.orange{
  background-color: rgba(255, 102, 0);
  color:black;
}

.light-blue{
  background-color: rgb(62, 216, 255);
  color:black;
}

.default:hover:enabled{
  background-color: rgba(51, 51, 51);
}

.black:hover:enabled{
  background-color:rgba(0, 0, 0);
}

.blue:hover:enabled{
  background-color:rgb(0, 18, 100);
}

.orange:hover:enabled{
  background-color: rgba(255, 102, 0);
  color:black;
}

.light-blue:hover:enabled{
  background-color: rgb(62, 216, 255);
  color:black;
}

.yellow{
  background-color: rgb(255, 196, 0);
  color:black;
}

.yellow:hover:enabled{
  background-color:rgb(255, 196, 0);
  color:black;
}

.pink{
  background-color: rgb(201, 0, 117);
  color:white;
}
.pink:hover:enabled{
  background-color: rgb(201, 0, 117);
  color:white;
}

.iframe{
  border: 1px solid black;
  background-image: none;
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
}

.iframe-cell-left {
  border: 1px solid black;
  background-image:none;
  background-color:rgba(51, 51, 51, 0.6);
  width: 30%;
  height: 120px;
}

.iframe-cell-right {
  border: 1px solid black;
  background-image:none;
  background-color:rgba(51, 51, 51, 0.6);
  width: 70%;
  height: 120px;
}
#popup {
  padding: 20px;
  position: fixed;
  top: 20%;
  left: auto;
  float: center;
  width: 720px;
  height: 400px;
  visibility: hidden;
  z-index: 10;
  transition: 0.3s;
}
#popup_background {
  background-image: none;
  background-color:rgba(51, 51, 51, 0.5);
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 9;
  transition: 0.2s;
}
.intoPopup{
  background-image:none; 
  background-color:rgba(51, 51, 51, 0.5);
  padding: 5px;
}
#popupButton1{
  width:233px;
}
#popupButton2{
  width:233px;
}
#popupButton3{
  width:233px;
}

img{
  border-radius: 3px;
  margin:3px;
}

iframe{
  border: 1px solid black;
  border-radius: 3px;
}